NEXT_PUBLIC_API_BASE_URL=http://localhost:4000

# Admin login for /am-dashboard
ADMIN_PASSWORD=youvandra
ADMIN_JWT_SECRET=oG4gFVQ5fKs33ZsZBsbeOpZIyXDoOeR7

# Server-only key used by Next.js to call protected backend admin endpoints
BACKEND_ADMIN_API_KEY=youvandra
